html,
body {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #242424;
    height: 100%;
    line-height: 1.428571429;
}

.navbar-collapse {
    padding-top: 54px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 100;
}

@media screen and (max-width: 1199px) {
    #menubar {
        margin-top: -54px;
    }
}

header nav {
    background: #fff;
    text-align: center;
    height: 100px;
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.navbar-toggler {
    width: 50px;
    height: 50px;
    margin-right: -35px;
}

.navbar-toggler img {
    position: relative;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
    font-size: 36px;
    width: 60px;
    height: 50px;
}

.navbar-collapse {}

.navbar .navbar-nav .active,
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .dropdown-item:hover {
    background: rgb(153, 49, 52);
    color: #fff;
    text-decoration: none !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar .navbar-nav .cta,
.navbar .navbar-nav .cta:hover {
    background: rgb(234, 152, 54);
    color: #fff;
    text-decoration: none !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar .navbar-nav .nav-link,
.navbar .navbar-nav .nav-item .dropdown-item {
    display: block;
    padding: 12px 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    margin-left: 5px;
    margin-right: 0px;
    box-sizing: border-box;
    height: 46px;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link,
.nav-item {
    color: #5b5959;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    height: 648px;
    right: 0px;
    left: 0px;
    z-index: -1;
}

.bg a.creditbox {
    margin-top: 622px;
    position: absolute;
    right: 0px;
    background-color: black;
    color: white;
    text-decoration: none !important;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    z-index: 10;
}

.landing h1 {
    font-family: Bitter, cursive;
    font-size: 115px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding-bottom: 55px;
    margin-top: -50px;
}

.landing p {
    font-family: Bitter, cursive;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    padding-top: 150px;
}

.box {
    background-color: rgb(153, 49, 52);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-radius: 4px;
    height: 160px;
    text-align: left;
    padding: 40px 40px 40px 96px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    opacity: .92;
    z-index: 10;
    font-family: Bitter, Helvetica, Arial, sans-serif;
}

.box img {
    position: absolute;
    top: 50%;
    left: 55px;
    margin-top: -25px;
    font-size: 36px;
    width: 50px;
    height: 50px;
    filter: invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
}

.box .box-inner {
    display: table;
    width: 100%;
    height: 100%;
    line-height: 1.2em;
    padding-left: 20px;
}

.box span {
    display: block;
    line-height: 1.2em;
    color: #fff;
}

.box .sub {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.box .title {
    font-size: 36px;
    font-weight: 300;
}

.box .desc {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

footer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(57, 57, 57);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-top-color: rgb(211, 211, 211);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(241, 241, 241);
    display: block;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.8571px;
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    text-size-adjust: 100%;
    width: 100%;
    z-index: 30;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    bottom: 0;
}

.heading {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(153, 49, 52);;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 164px;
    line-height: 22.8571px;
    margin-bottom: 45px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    position: relative;
    text-size-adjust: 100%;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.headshot {
    padding-top: 22px;
    margin-left: -16px;
    z-index: 10;
}

.headshot .img-circle {
    display: inline;
    vertical-align: middle;
    box-shadow: 0 0 0 2px rgb(234, 152, 54);
    margin-left: 16px;
    border-radius: 180px;
    z-index: 10;
}

.nondecorated-link {
    text-decoration: none !important;
}

.speaker-name {
    font-family: Bitter, Helvetica, Arial, sans-serif;
}

.speaker-name span {
    color: #fff;
    font-weight: 300;
    display: block;
    text-align: left;
    margin-top: -65px;
}

@media screen and (min-width: 600px) {
    .headshot .img-circle {
        max-width: 120px;
        max-height: 120px;
    }

    .speaker-name span {
        font-size: 44px;
        margin-left: 140px;
    }
}

@media screen and (max-width: 599px) {
    .headshot .img-circle {
        max-width: 20vw;
        max-height: 20vw;
    }

    .speaker-name span {
        font-size: 7.33vw;
        margin-left: 23.33vw;
    }
}

p {
    display: block;
    line-height: 1.58;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.empty-row {
    margin-bottom: 300px;
}

.footer-title {
    text-align: center;
}

hr.light {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

h1, h2, h3, h4, h5, h6 {
    flex-basis: 100%;
}

h2 {
    font-weight: 300;
    font-size: 36px;
    font-family: Bitter, Helvetica, Arial, sans-serif;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    color: rgb(145, 145, 145);
}

.tile {
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel {
    margin-top: 25px;
}

.speaker {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.logotile {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    width: 100%;
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.speaker-basic {
    background-color: rgb(153, 49, 52);;
}

.logotile-basic {
    background-color: rgb(255, 255, 255);
    border-color: rgb(153, 49, 52);;
    border-width: 2px;
    border-style: solid;
}

.speaker-star {
    background-color: rgb(232, 58, 86);
}

.speaker-text {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none !important;
}

.logotile-text {
    position: absolute;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none !important;
    width: 100%;
    height: 100%;
    color: rgb(57, 57, 57);
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speaker-name {
    color: rgb(234, 152, 54);
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.speaker-title {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

img.img-circle {
    display: inline;
    max-width: 230px;
    max-height: 230px;
    border: 2px solid rgb(234, 152, 54);
    box-shadow: 0 0 0 2px rgb(234, 152, 54);
    border-radius: 180px;
    position: relative;
    z-index: 10;
}

img.img-square-noborder {
    /* display: inline; */
    width: 80%;
    /* width: auto; */
    height: auto;
    border: 0px;
    box-shadow: 0 0 0 0px #157eab;
    border-radius: 0px;
    position: absolute;
    z-index: 10;
}

.logo-container {
    margin-left: 0px;
    max-width: 25vw;
    z-index: 101;
}

.logo-title {
    text-align: left;
    position: absolute;
}

.logo-title .top {
    color: #242424;
    height: 100%;
    line-height: 1;
}

.logo-title .bottom {
    height: 100%;
    line-height: 0.9;
}

.logo-title .gold {
    /* font-family: Times, "Bitter", sans-serif; */
    font-family: Bitter, sans-serif;
    height: 100%;
    line-height: 1;
    color: rgb(234, 152, 54);
    font-weight: 100;
    vertical-align: baseline;
}

.logo-title .crimson {
    /* font-family: "Arvo", "Bitter", sans-serif; */
    font-family: Bitter, sans-serif;
    height: 100%;
    line-height: 1;
    color: rgb(153, 49, 52);
    font-weight: 900;
    vertical-align: baseline;
}

@media screen and (min-width: 1300px) {
    .logo-title {
        margin-left: 90px;
    }

    /* .logo-title .top {
        font-size: 14px;
        margin-left: 2px;
    } */

    /* .logo-title .bottom { */
    .logo-title {
            font-size: 56px;
    }

    .navbar-brand>img {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 372px) and (max-width: 1299px) {
    .logo-title {
        margin-left: 6.92vw;
    }

    /* .logo-title .top {
        font-size: 1.08vw;
        margin-left: 0.15vw;
    } */

    /* .logo-title .bottom { */
    .logo-title {

        font-size: 4.3vw;
    }

    .navbar-brand>img {
        width: 5.77vw;
        height: 5.77vw;
    }
}

@media screen and (max-width: 371px) {
    .logo-title {
        margin-left: 6.92vw;
    }

    /* .logo-title .top {
        font-size: 1.08vw;
        margin-left: 6px;
    } */

    /* .logo-title .bottom { */
    .logo-title {
            font-size: 16px;
    }

    .navbar-brand>img {
        width: 5.77vw;
        height: 5.77vw;
    }
}