<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-2">
                <h3 class="footer-title">Column 1</h3>
                <hr class="light"/>
                <p>Text for the first footer column.</p>
            </div>
            <div class="col-2">
                <h3 class="footer-title">Column 2</h3>
                <hr class="light"/>
                <p>Text for the second footer column.</p>
            </div>
            <div class="col-2">
                <h3 class="footer-title">Ohana</h3>
                <hr class="light"/>
                <ul>
                    <li>Philadelphia, PA</li>
                    <ul>
                        <li>
                            <a
                                href="https://trailblazercommunitygroups.com/philadelphia-pa-administrators-group/">Administrators</a>
                        </li>
                        <li>
                            <a
                                href="https://trailblazercommunitygroups.com/philadelphia-pa-developers-group/">Developers</a>
                        </li>
                        <li>
                            <a
                                href="https://trailblazercommunitygroups.com/philadelphia-pa-nonprofit-group/">Nonprofit</a>
                        </li>
                        <li>
                            <a href="https://trailblazercommunitygroups.com/philadelphia-pa-nonprofit-group/">B2C
                                Marketers</a>
                        </li>
                        <li>
                            <a href="https://trailblazercommunitygroups.com/philadelphia-pa-women-in-tech-group/">Women
                                in Tech</a>
                        </li>
                    </ul>
                    <li>Allentown, PA</li>
                    <li>King of Prussia, PA</li>
                    <li>Lancaster, PA</li>
                    <ul>
                        <li>
                            <a
                                href="https://trailblazercommunitygroups.com/lancaster-pa-administrators-group/">Administrators</a>
                        </li>
                    </ul>
                    <li>Mount Laurel, NJ</li>
                    <ul>
                        <li>
                            <a
                                href="https://trailblazercommunitygroups.com/mount-laurel-nj-administrators-group/">Administrators</a>
                        </li>
                    </ul>
                    <li>Princeton, NJ</li>
                    <ul>
                        <li>
                            <a href="https://trailblazercommunitygroups.com/princeton-nj-nonprofit-group/">Nonprofit</a>
                        </li>
                        <li>
                            <a href="https://trailblazercommunitygroups.com/princeton-nj-women-in-tech-group/">Women in
                                Tech</a>
                        </li>
                    </ul>
                    <li>Scranton, PA</li>
                    <li>West Chester, PA</li>
                </ul>
            </div>
        </div>
    </div>
</footer>