<header class="container-fluid">
    <nav class="navbar navbar-expand-xl">
        <div class="container logo-container">
            <div class="logo">
                <a class="navbar-brand" href="{{site.url}}">
                    <img width="75px" height="75px" src="{{site.url}}/img/logo-red-blue.svg">
                </a>
            </div>
            <div class="logo-title">
                <span class="bottom red">MidAtlantic</span><span class="bottom blue"><strong>Dreamin’</strong></span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <img src="{{site.url}}/img/list.svg" alt="Menu" title="Menu"></span>
        </button>
        {% if page.url == "/"%}{% assign pageurl = ""%}{% else %}{% capture pageurl %}{{ page.url | remove_first: "/" }}{% endcapture %}{% endif %}
        {% if site.data.navigation.menu[0] %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto" id="menubar">
                {% for item in site.data.navigation.menu %}{% if item.subitems[0] %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="{% if item.type=="email" %}mailto:{{item.email_address}}{% elsif item.type=="external"%}{{item.url}} target="_blank" {% else %}{{site.url}}{{site.baseurl}}{{item.url}}{% endif %}"
                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{item.name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subitem in item.subitems %}
                        <a class="dropdown-item{% if subitem.disabled %} disabled{% elsif subitem.cta %} cta{% elsif item.url == pageurl %} active{% endif %}"
                            href="{% if subitem.type=="email" %}mailto:{{subitem.email_address}}{% elsif item.type=="external"%}{{subitem.url}}{% else %}{{site.url}}{{site.baseurl}}{{subitem.url}}{% endif %}">{{subitem.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <a class="nav-item nav-link{% if item.disabled %} disabled{% elsif item.cta %} cta{% elsif item.url == pageurl %} active{% endif %}"
                    href="{% if item.type=="email" %}mailto:{{item.email_address}}"{% elsif item.type=="external"%}{{item.url}}" target="_blank" {% else %}{{site.url}}{{site.baseurl}}{{item.url}}"{% endif %}>{{item.name}}</a>{% endif %}{%endfor%}
            </div>
        </div>
        {% endif %}
    </nav>
</header>