<header class="container-fluid">
    <nav class="navbar navbar-expand-lg">
        <div class="container logo-container">
            <div class="logo">
                <a class="navbar-brand" href="{{site.url}}">
                    <img width="75px" height="75px" src="{{site.url}}{{site.baseurl}}img/logo.png">
                </a>
            </div>
            <div class="logo-title">
                <span class="top">PhillyForce presents</span><br />
                <span class="bottom red">MidAtlantic</span><span class="bottom blue">Dreamin'</span>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"> <img src="{{site.baseurl}}img/list.svg" alt="Menu" title="Menu"></span>
        </button>

        {% if site.data.navigation.menu[0] %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ml-auto">
                {% for item in site.data.navigation.menu %}{% if item.subitems[0] %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                        href="{% if item.type=="email" %}mailto:{{item.email_address}}{% elsif item.type=="external"%}{{item.url}}{% else %}{{site.url}}{{site.baseurl}}{{item.url}}{% endif %}"
                        id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        {{item.name}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for subitem in item.subitems %}
                        <a class="dropdown-item{% if item.disabled %} disabled{% elsif item.cta %} cta{% elsif item.url == page.url %} active{% endif %}"
                            href="{% if item.type=="email" %}mailto:{{item.email_address}}{% elsif item.type=="external"%}{{item.url}}{% else %}{{site.url}}{{site.baseurl}}{{item.url}}{% endif %}">{{subitem.name}}</a>
                        {% endfor %}
                    </div>
                </div>
                {% else %}<a
                    class="nav-item nav-link{% if item.disabled %} disabled{% elsif item.cta %} cta{% elsif item.url == page.url %} active{% endif %}"
                    href="{% if item.type=="email" %}mailto:{{item.email_address}}{% elsif item.type=="external"%}{{item.url}}{% else %}{{site.url}}{{site.baseurl}}{{item.url}}{% endif %}">{{item.name}}</a>{% endif %}{%endfor%}
            </div>
        </div>
        {% endif %}
    </nav>
</header>