<div class="schedule">
    <div class="clearfix"></div>
    <div class="sessions list">
        <div class="followWrap" style="height: 60px;">
            <div class="day-floating"><span>{{ include.date }}</span></div>
        </div>
        {% assign sessions = site.sessions | sort: "order" %}
        {% for session in sessions %}
        {% if session.edition == include.edition %}
        {% include session.html
                time = session.time
                title = session.title
                location = session.location
                speakers = session.speakers
                url = session.url
                output = session.output
        %}
        {% endif %}
        {% endfor %}
    </div>
</div>