<div class="col">
    <a class="nondecorated-link" href="{{include.url}}">
        <div class="container speaker speaker-basic">
            <div class="row speaker-text">
                <img width="230" height="230" src="{{site.url}}/img/speakers/{{include.headshot}}"
                    class="img-circle" alt="Picture of {{include.name}}"
                    title="{{include.name}}" />
            </div>
            <div class="row speaker-text speaker-name">{{include.name}}</div>
            <div class="row speaker-text speaker-title">{{include.company}}</div>
        </div>
    </a>
</div>