<!doctype html>
<html lang="en">

{% capture title %}{{ page.title }}{% endcapture %}

{% include head.html title=title %}

<body>
	{% include navigation.html %}
	<div class="heading">
		<div class="container">
			<div class="headshot">
				<img src="{{site.url}}/img/speakers/{{page.headshot}}" class="img-circle"
					alt="Picture of {{ page.name }}" title="{{ page.name }}" />
			</div>
			<div class="speaker-name">
				<span>
					{{ page.name }}
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				{{ content }}
				<div style="padding:1em 0"></div>
			</div>

			<div class="col-md-3 social single">
				<div class="container table-hover">
					{% for social in page.social %}
						<span class="row">
						{% include badge-social.html
							type = social.type
							handle = social.handle
							url = social.url
						%}
						</span>
					{% endfor %}
				</div>
			</div>
		</div>

		{% assign has_session_this_year = false %}
		{% for session in site.sessions %}{% if session.speakers contains page.name and session.edition == site.edition %}
		{% assign has_session_this_year = true %}
		{% endif %}{% endfor %}

		{% if has_session_this_year %}
		<hr>
		<h2>Sessions</h2>

		<div class="schedule">
			<div class="clearfix"></div>
			<div class="sessions list">
				<div class="session"></div>
				{% for session in site.sessions %}{% if session.speakers contains page.name and session.edition == site.edition %}
				{% include session.html
						time = session.time
						title = session.title
						location = session.location
						speakers = session.speakers
						url = session.url
				%}
				{% endif %}{% endfor %}
			</div>
		</div>
		{% endif %}

		{% assign has_session_in_previous_years = false %}
		{% for session in site.sessions %}{% if session.speakers contains page.name and session.edition != site.edition %}
		{% assign has_session_in_previous_years = true %}
		{% endif %}{% endfor %}

		{% if has_session_in_previous_years %}
		<hr>
		<h2>From previous years</h2>
		<div class="schedule">
			<div class="clearfix"></div>
			<div class="sessions list">
				<div class="session"></div>
				{% for session in site.sessions %}{% if session.speakers contains page.name and session.edition != site.edition %}
				{% include session.html
						time = session.edition
						title = session.title
						location = ""
						speakers = session.speakers
						url = session.url
				%}
				{% endif %}{% endfor %}
			</div>
		{% endif %}


	</div>
	{% include footer.html %}
	{% include js.html %}
</body>

</html>