<!doctype html>
<html lang="en">

{% capture title %}{{ page.title }}{% endcapture %}

{% include head.html title=title %}

<body>
	{% include navigation.html %}
	<div class="heading">
		<div class="container">
			<div class="headshot">
				<img src="{{site.baseurl}}img/speakers/{{page.headshot}}" class="img-circle"
					alt="Picture of {{ page.name }}" title="{{ page.name }}" />
			</div>
			<div class="speaker-name">
				<span>
					{{ page.name }}
				</span>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{{ content }}
				<div style="padding:1em 0"></div>
			</div>

			<div class="col-md-4 sessions single">
				<div class="container table-hover">
					{% for social in page.social %}
						<span class="row">
						{% include badge-social.html
							type = social.type
							handle = social.handle
							url = social.url
						%}
						</span>
					{% endfor %}
				</div>
			</div>
		</div>

		<hr>
		<h2>Related Sessions</h2>

		<div class="schedule">
			<div class="clearfix"></div>
			<div class="sessions list">
				<div class="session"></div>
				{% for session in site.sessions %}{% if session.speakers contains page.name %}
				{% include session.html
						time = session.time
						title = session.title
						location = session.location
						speakers = session.speakers
						url = session.url
				%}
				{% endif %}{% endfor %}
			</div>
		</div>

		<div class="row empty-row">
		</div>
	</div>
	{% include footer.html %}
	{% include js.html %}
</body>

</html>